:root {
  --primary-color: #00d3ff;
  --text-color: #ffffff;
  --font-family: 'Open Sans', sans-serif; 
  --font-size: 16px;
  --line-height: 1.5;
  --background-color: #080e14;
  --form-background: #101820;
  --input-border: #222f3d;
  --input-focus: #009fcc;
  --button-hover: #009fcc;
  --footer-background: #080e14;
  --footer-text-color: #ffffff;
  --error-color: #ff3939;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding-bottom: 60px;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-logo a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 800;
  display: flex;
  align-items: center;
}

.header-logo a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  margin: 0 clamp(20px, 5vw, 50px);
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

.settings-container {
  max-width: clamp(300px, 90%, 500px);
  margin: 120px auto 20px auto;
  padding: clamp(20px, 4vw, 30px);
  background-color: var(--form-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--input-border);
  backdrop-filter: blur(10px);
}

.profile-pic-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: clamp(120px, 25vw, 150px);
  height: clamp(120px, 25vw, 150px);
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color);
}

.settings-section h2 {
  font-family: 'Montserrat', sans-serif; 
  color: var(--primary-color);
  border-bottom: 1px solid var(--input-border);
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
}

.account-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 10px;
}

.account-field label {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  flex-shrink: 0;
  margin-right: 15px;
}

.email-and-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
}

#userEmail {
  background-color: var(--input-border);
  padding: 12px;
  border-radius: 6px;
  color: var(--text-color);
  font-size: 0.8rem;
  flex-grow: 1;
  min-width: 150px;
}

.reset-password-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 13px 20px;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  width: auto;
  margin: 0;
  transition: background-color 0.3s;
}

.reset-password-button:hover {
  background-color: var(--button-hover);
}

.danger-zone {
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--input-border);
  padding-top: 20px;
}

.danger-zone label {
  color: var(--error-color);
  margin-bottom: 10px;
}

.confirmation-text {
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#deleteAccountConfirmation {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color);
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s;
}

#deleteAccountConfirmation:focus {
  outline: none;
  border-color: var(--error-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.delete-account-button {
  width: 100%;
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.delete-account-button:hover {
  background-color: #d62c2c;
}

.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

footer p {
  margin-top: 10px;
  font-size: 0.7rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: auto;
    position: static;
  }

  .header-logo a {
    margin-bottom: 10px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  header nav ul li a {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .settings-container {
    padding: 15px;
    margin: 100px auto 20px auto;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .settings-section h2 {
    font-size: 1.3rem;
  }

  .account-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .account-field label {
    margin-bottom: 5px;
  }

  .email-and-button {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  #userEmail {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .reset-password-button {
    width: 100%;
    margin: 0;
  }

  .danger-zone {
    align-items: center;
    text-align: center;
  }

  .danger-zone label,
  .confirmation-text {
    text-align: center;
    width: 100%;
  }
}