:root {
  --primary-color: #00d3ff;
  --text-color: #ffffff;
  --font-family: 'Open Sans', sans-serif;
  --background-color: #080e14;
  --form-background: #101820;
  --input-border: #222f3d;
  --input-focus: #009fcc;
  --button-hover: #009fcc;
  --footer-background: #080e14;
  --footer-text-color: #ffffff;
  --error-color: #ff3939;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-logo a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 800;
  display: flex;
  align-items: center;
}

.header-logo a img {
  width: clamp(40px, 8vw, 50px);
  height: clamp(40px, 8vw, 50px);
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: clamp(10px, 3vw, 20px);
}

header nav ul li a {
  margin: 0 50px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

.logout-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(50px, 10vw, 100px);
  background-color: var(--form-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--input-border);
  backdrop-filter: blur(10px);
}

.logout-container p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: clamp(1rem, 4vw, 2rem);
  border-bottom: 1px solid var(--input-border);
  padding-bottom: 10px;
  width: 100%;
}

.logout-progress {
  background-color: #ddd;
  width: clamp(200px, 50vw, 400px);
  height: clamp(8px, 2vw, 10px);
  border-radius: 5px;
  margin-bottom: clamp(1rem, 4vw, 2rem);
  overflow: hidden;
}

.logout-progress .progress-bar {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 5px;
  width: 0%;
  animation: fillProgressBar 3s ease-in-out forwards;
}

@keyframes fillProgressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#loading-percentage {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: lighter;
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

footer p {
  margin-top: 0;
  font-size: clamp(0.6rem, 1.5vw, 0.7rem);
  color: var(--text-color);
}
